/*
Tan: EDD8CA
lighter:   background-color: #fff1e8; 


Light pink: EFC1B8
Pink red: D0767A
Brown: 725C57
Green: 768B67
Light green: C3CA8A

*/

/*
input[type="checkbox"]:checked {
  background-color: #D0767A; 
} 
*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff4ec; 
  color: #725C57; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  list-style: none
}

.review-textarea {
  width: 500px; 
  height: 200px;
}

#results_ul {
  padding: 0px; 
}

.park_preview{
  background-color: #fff;
  border-radius: 3px; 
  margin: auto; 
  margin-top: 10px; 
  width: 60%; 
  text-align: center; 
  padding: 10px; 
  border: 1px solid #EDD8CA; 
}


.park_link{
  color: #fff; 
  background-color: #C3CA8A; 
  padding: 5px; 
  margin-top: 20px; 
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #768B67; 
}
.park_link:link{
}

.park_link:hover{
  background-color: #768B67; 
}

.park_link:active{
  border: 1px solid #C3CA8A;
  color: #C3CA8A;
}

.park_description{
  margin: auto; 
  width: 70%
}

.review_btn{
  color: #fff; 
  background-color: #C3CA8A; 
  padding: 5px; 
  margin-top: 5px; 
  margin-bottom: 5px; 
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #768B67; 
}

.userName {
  font-weight: bold;
}

.reviewCard{
  background-color: #fff; 
  width: 50%;
  margin: auto; 
  margin-top: 10px; 
  padding: 50px 50px 50px 50px; 
  border: 1px solid #EDD8CA; 
  border-radius:3px; 

  text-align:left; 
}


@media only screen and (max-width: 700px) {
  .reviewCard{
     width: 96%;
  }
}

.edit_textarea {
  width: 400px; 
  height: 150px;
}

#App{
  z-index: 0;
}
#header{
  background-color: #C3CA8A; 
  margin: 0; 
  height: 50px; 
  z-index: 5;
  position: relative;
  text-align: left;
  padding-left: 10px; 
}

#header h1 {
  color: #725C57; 
  margin-top: 0px; 
  display: inline;
}


#search{
  width: 30%; 
  float: left; 
  position:fixed;
  background-color: #fff; 
  border-radius: 5px; 

  margin-top: -50px;
  padding-top: 50px; 
  z-index: 1;
  border: 1px solid #EDD8CA; 

 
}

#filters_container{
  height: 600px; 
}

.search_normal{
  height: 600px;
}

.search_hidden{
  height: 5px;
}

#results{
  width: 68%; 
  float: left; 
  margin-left: 30%;
  min-height: 90vh; 
  text-align: center; 

}

#showResultsButton {
  visibility: hidden; 
}

@media only screen and (max-width: 700px) {
  #header{
    position: fixed; 
    width: 100%; 
  }

  #search{
    width: 100%;
    position: relative;
    margin-top: 50px; 
  }

  #results{
    width: 100%;
    margin-left: 5px;
    
  }

  #showResultsButton{
    visibility: visible; 
  }

}

#footer{
  clear: both; 
  z-index: 1;
  position: relative; 
  background-color: #C3CA8A; 
  height: 100px; 
  

}